# Node.js
node_modules/
dist/
.vite/
.env
.env.*

# General Python
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
**/.DS_Store
**/Thumbs.db

# VSCode/IDE/editor
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Log files
*.log